@font-face {
    font-family: "LTPanneaux_Regular";
    src: url(../assets/fonts/LTPanneaux/LTPanneaux-Regular.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

main #sobre img{
    width: 100%;
    max-width: 400px;
    position: relative;
    left: -13%;
    filter: drop-shadow(2px 2px 7px #000);
}

main #inicial #sobre{
    padding: 10px 50px;
}

main #jazigos h2{
    text-align: center;
}

main .opcoes{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}

main .opcao{
    display: flex;
    flex-direction: column;
    width: 45%;
}

main .opcao .texto h3{
    text-align: center;
    color: #3B8561;
    font-family: "LTPanneaux_Regular", Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 720px){
    main #sobre{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main #sobre img{
        width: 100%;
        max-width: 400px;
        position: relative;
        left: 0;
    }

    main #sobre .textos p{
        max-width: 400px;
    }

    .fundoCinza{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        max-width: unset;
        border-radius: 0;
    }

    .opcoes{
        margin: 0;
    }

    main .carrossel .foto > img{
        border-radius: 20px;
    }
}