@charset "UTF-8";

@media screen and (min-width: 720px){
    header .links, header .hamburger{
        display: none !important;
    }

    header #principal nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
    }
    
    main .whatsapp img{
        left: 90%;
        top: 90%;
    }

    .fundoCinza{
        max-width: 1000px;
        margin: auto;
        border-radius: 10px;
    }

    .opcoes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 1900px;
        margin: auto;
    }

    .opcoes p{
        max-width: 300px;
    }

    .carrossel{
        justify-content: space-around !important;
    }

    .foto{
        width: 30% !important;
        min-width: unset !important;
        margin: 0 !important;
    }

    #jazigos h2{
        max-width: 80%;
        margin: auto;    
    }

    #jazigos .carrossel{
        max-width: 1184px;
        margin: auto;
    }

    #jazigos .carrossel .foto h4{
        top: -92% !important;
    }

    #cremacao h2{
        max-width: 80%;
        margin: auto;    
    }

    #cremacao > p{
        max-width: 80%;
        margin: auto;    
    }

    #cremacao .carrossel{  
        flex-wrap: wrap;
    }

    #cremacao .carrossel .foto{
        width: 400px !important;
    }

    #cremacao .carrossel .foto h4{
        top: -92% !important;
    }

    #contatos{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px;
    }

    #contatos a{
        margin: 0 !important;
    }
    
    footer .inicioFotter{
        flex-direction: row;
    }

    footer .inicioFotter > a{
        width: 30%;
    }

    footer > a{
        max-width: 500px;
    }
    
    footer > a img{
        width: 50%;
    }
}

@media screen and (min-width: 1100px){
    footer .logos img{
        width: 35%;
    }

    footer .logos{
        width: 50%;
        max-width: 700px;
    }

    footer p{
        width: 30%;
    }
}

/* Código feito por Diogo Antonny https://github.com/DiogoJP202 */